{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}


    <a href="{{ path('category') }}" class="btn btn-default">
        {% trans %}Powrót do listy{% endtrans %}
    </a>

{% endblock %}
