{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Nowy wydatek{% endtrans %}</h1>

    {{ form(form) }}

    <br/>
    <a href="{{ path('product') }}" class="btn btn-default">
        {% trans %}Powrót do listy{% endtrans %}
    </a>

{% endblock %}
